aniso8601==6.0.0
astroid==2.1.0
certifi==2019.3.9
chardet==3.0.4
Click==7.0
colorama==0.4.1
Django==2.2.2
django-extensions==2.1.9
django-filter==2.1.0
django-markdownx==2.0.28
django-unslashed==0.3.0
django-versatileimagefield==1.10
djangorestframework==3.9.4
Flask==1.0.3
graphene==2.1.6
graphene-django==2.3.0
graphql-core==2.2
graphql-relay==0.4.5
idna==2.8
isort==4.3.4
itsdangerous==1.1.0
Jinja2==2.10.1
lazy-object-proxy==1.3.1
Markdown==3.1.1
MarkupSafe==1.1.1
mccabe==0.6.1
Pillow==5.4.1
pipenv==2018.11.26
promise==2.2.1
pylint==2.2.2
pylint-django==2.0.9
pylint-plugin-utils==0.5
pytz==2019.1
requests==2.22.0
Rx==1.6.1
singledispatch==3.4.0.3
six==1.12.0
sqlparse==0.3.0
urllib3==1.25.3
virtualenv==16.6.0
virtualenv-clone==0.5.3
Werkzeug==0.15.4
wrapt==1.11.0