{% extends "base.html" %}


{% block title %}
<title>
moe.ph &middot; cute and depressed
</title>
{% endblock %}


{% block meta %}
<meta property="og:url" content="{{ request.build_absolute_uri }}" />
<meta property="og:type" content="website" />
<meta property="og:title" content="moe.ph &middot; cute and depressed" />
<meta property="og:description" content="cute and depressed" />
<meta property="og:image" content="{{ shirt_list.first.image.first.image.url }}" />

<meta name="moe.ph &middot; cute and depressed" content="cute and depressed">
{% endblock %}


{% block content %}
<div class="container content">
<div class="clearfix">
{% for shirt in shirt_list %}
<div class="page sm-col md-col-6">
    <a href="{% url 'shirt-detail' shirt.code %}">
        <h2 class="page-title">{{ shirt.name }}</h2>
        <img src="{{ shirt.image.first.image.thumbnail.600x600.url }}" alt="{{ shirt.name }}" />
    </a>
</div>
{% endfor %}
</div>

{% if is_paginated %}
<div class="clearfix">
<div class="center">
{% if page_obj.has_previous %}
<a class="btn btn-outline" href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
{% endif %}
<span>Current Page: {{ page_obj.number }}</span>
{% if page_obj.has_next %}
<a class="btn btn-outline" href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
{% endif %}

</div>
</div>
{% endif %}

</div>

{% endblock %}
