    <!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
     <input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

     <!-- Toggleable sidebar -->
     
     <div class="sidebar" id="sidebar">
         <div class="sidebar-item">
           <p>moe.ph &middot; cute and depressed</p>
         </div>
       
         <nav class="sidebar-nav">
           <a class="sidebar-nav-item" href="/shirt">Home</a>
       
           <a class="sidebar-nav-item" href="/shirt/all">Full Catalog</a>
           <a class="sidebar-nav-item" href="/shirt/print">Browse by Print Type</a>
           <a class="sidebar-nav-item" href="/shirt/brand">Browse by Shirt Brand</a>
           <a class="sidebar-nav-item" href="/shirt/size">Browse by Available Sizes</a>
       
           <span class="sidebar-nav-item">Social Media Links</span>
       
           <a class="sidebar-nav-item" href="https://facebook.com/be.moe.ph">Facebook Page</a>
           <a class="sidebar-nav-item" href="https://m.me/be.moe.ph">Messenger Link</a>
           <a class="sidebar-nav-item" href="https://github.com/ZeroExistence">GitHub Repository</a>
       
           <span class="sidebar-nav-item">Currently v site.version</span>
         </nav>
       
         <div class="sidebar-item">
           <p>
             &copy; moe.ph. All rights reserved.<br> Made with Django, Lanyon, and basscss.
           </p>
         </div>
       </div>
