<!doctype html>
<html ⚡>
<head>
    <!-- Required for AMP -->
    <meta charset="utf-8">
    <script async src="https://cdn.ampproject.org/v0.js"></script>
    <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
    <script async custom-element="amp-carousel" src="https://cdn.ampproject.org/v0/amp-carousel-0.1.js"></script>
    <script async custom-element="amp-selector" src="https://cdn.ampproject.org/v0/amp-selector-0.1.js"></script>
    <script async custom-element="amp-fit-text" src="https://cdn.ampproject.org/v0/amp-fit-text-0.1.js"></script>

    <!-- Require a canonical link to HTML. Will put this on block later -->
    <link rel="canonical" href="https://amp.dev/documentation/examples/introduction/hello_world/index.html">

    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">

    {% include "base-v2-css.html" %}
    
    <!-- Inline amp-boilerplate required as well -->
    <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>

    {% block title %} {% endblock %}
    {% block meta %} {% endblock %}

</head>

<body>

    <!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->

<div class="sidebar" id="sidebar">
    <div class="sidebar-item">
      <p>moe.ph &middot; cute and depressed</p>
    </div>
  
    <nav class="sidebar-nav">
      <a class="sidebar-nav-item" href="/shirt/">Home</a>
  
      <a class="sidebar-nav-item" href="/shirt/all">Full Catalog</a>
      <a class="sidebar-nav-item" href="/shirt/print/">Browse by Print Type</a>
      <a class="sidebar-nav-item" href="/shirt/brand/">Browse by Shirt Brand</a>
      <a class="sidebar-nav-item" href="/shirt/size/">Browse by Available Sizes</a>
  
      <span class="sidebar-nav-item">Social Media Links</span>
  
      <a class="sidebar-nav-item" href="https://facebook.com/be.moe.ph">Facebook Page</a>
      <a class="sidebar-nav-item" href="https://m.me/be.moe.ph">Messenger Link</a>
      <a class="sidebar-nav-item" href="https://github.com/ZeroExistence">GitHub Repository</a>
  
      <span class="sidebar-nav-item">Currently v site.version</span>
    </nav>
  
    <div class="sidebar-item">
      <p>
        &copy; moe.ph. All rights reserved.<br> Made with Django, Lanyon, and basscss.
      </p>
    </div>
  </div>
  
  <div class="wrap">
      <div class="masthead">
          <div class="container">
              <h3 class="masthead-title">
              <a href="/shirt/" title="Home">moe.ph</a>
              <small>cute and depressed</small>
              </h3>
          </div>
      </div>
  
  {% block content %} {% endblock %}
  
  </div>
    <label for="sidebar-checkbox" class="sidebar-toggle"></label>
    </body>
</html>
